{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div>
    <div class="mx-auto p-4 mt-8 mb-4" id="login-panel">
        <section class="login-section bg-gray-800 p-8 rounded-lg shadow-lg w-full max-w-sm text-left center">
            <h2 class="text-2xl font-semibold mb-6 text-center">Log In</h2>
            <form action="{{ url_for('main.login') }}" method="post">
                {{ form.hidden_tag() }}
                <input name="next" value="{{ next }}" hidden>
                <div class="mb-6">
                    {{ form.username.label(class="block text-gray-400 font-bold mb-2") }}
                    {{ form.username(placeholder="Enter your username or email address", class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 border-gray-600 text-white", autofocus="true") }}
                </div>
                <div class="mb-6">
                    {{ form.password.label(class="block text-gray-400 font-bold mb-2") }}
                    {{ form.password(placeholder="Enter your password", class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline bg-gray-700 border-gray-600 text-white") }}
                    <!-- <a href="#" class="inline-block align-baseline font-bold text-sm text-blue-400 hover:text-blue-600">
                        Forgot Password?
                    </a> -->
                </div>
                <div>
                    {{ form.remember_user(style="margin-right: 10px;") }} 
                    {{ form.remember_user.label }}
                </div>
                <div class="flex items-center justify-between">
                    {{ form.submit(class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition w-full") }}
                </div>
            </form>
            <p class="text-center text-gray-400 mt-6">
                Don't have an account? <a href="{{ url_for('main.signup') }}" class="text-blue-600">Sign Up</a>
            </p>
        </section>
    </div>
    {% if get_flashed_messages() or form.errors %}
        <div class="center error rounded-border-px mt-5">
            {% if get_flashed_messages() %}
                {% for message in get_flashed_messages() %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% if form.errors %}
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}